/*Main CSS*/
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        user-select: none;
    }

body, .map {
    height: 100vh;
    width: 100vw;
    background-color: rgb(34, 37, 42);
    overflow:hidden;
    z-index: 0;
}

.star {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: rgb(253, 253, 253);
    box-shadow: 0px 0px 20px 5px rgba(253, 253, 253, 0.8);
    transform: translate(50px, 50px);
    z-index: 5;
}
.playerDimensions{
  width:110px;
  height:128px;


}









.player, .ship, .starSet, .sprite, .gameMap{
 position: absolute;
 top: 0px ;
 left:  0px ;
 user-select:none;


}

.playerUI{
 position:absolute;
 top: 0px;
 left: 0px;
 width:100%;
 z-index: 1001;
}
.rightSideUI{
 position:absolute;
 top: 0px;
 right: 40px;
 color: white;

}
.rightSideUI img{
  height: 25px;
  width: 25px;

}
.rightSideInfo, .rightSideUI{
 display: flex;
 align-items: center;
 flex-direction: row;

}

.counterColumn{
display:flex;
flex-direction: column;
align-items: flex-start;

}




.healthBar{
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.5);
  min-width: 75px ;
  min-height:25px ;
  background-color: rgba(127, 127, 127, 0.5);
}

.playerHealthBar{
height: 6vh;
width: 20vw;
position: relative;
margin: 15px;

}

.healthSlider{
position:absolute;
height: 100%;
width: 100%;
top: 0px;
left: 0px;
background-color: rgba(230, 0, 0, 0.8)
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding-bottom: 15px;
}

.homeButton {
  color: #cfcfcf;
}



.title{
  color: #fff;
  margin: 30px auto;
  width: fit-content;
  font-size: 56pt;
}



.button{
 background-color:rgb(230, 0, 0);
 border-style: solid;
 border-color:#ccc;
 border-width: 2px;
 border-radius: 300px;
 padding: 25px;
 margin: 60px auto;
 position: relative;
 width:150px;
 height:150px;
 display:flex;
 align-items:center;
 justify-content: center;
 user-select:none;
}
.button:active{
 box-shadow: inset 0px 0px 15px #ccc;

}


.buttonText{
color: #fff;
font-size: 28px;
flex:1;
text-align: center;
}

.backpackButton{
  background-color:rgb(230, 0, 0);
  border-style: solid;
  border-color:#ccc;
  border-width: 1px;
  border-radius: 10%;
  padding: 15px 25px;
  margin-right: 10px;
  position: relative;
  display:flex;
  align-items:center;
  justify-content: center;
  user-select:none;

}

.backpackButton:active{
 box-shadow: inset 0px 0px 7px #ccc;
}

.deathScreen{
  position:absolute;
  top: 0px;
  left:0px;
  height: 100vh;
  width: 100vw;
  background-color:black;
  display:none;
}
.deathText{
  color:#fff;
  font-size:60px;
  width:fit-content;
  margin: auto auto;
}


.laser{
  width: 20px;
  height: 10px;
  background-color: rgba(220, 20, 60, .8);
  border-radius: 30%;
  border: solid 1px rgb(139,0,0);

}

.sprite{
  z-index: 10;

}


.modalBackground{
background-color: rgba(20, 20, 21, 0.5);
position: absolute;
top: 0px;
left: 0px;
height: 100vh;
width: 100vw;
justify-content: flex-start;
align-items: center;
flex-direction: column;
z-index: 1000;
display: none;
}

.modalContent{
border-style: solid;
border-color: black;
border-radius: 30px;
border-width: 6px;
background-color: rgba(119, 122, 121, 0.8);
padding: 10px;
display: flex;
overflow: auto;

}

.modalInventory{
margin-top: 20vh;
width: 30vw;
height: 40vh;
flex-direction: column;
align-items: center;



}

.modalEquipped{
margin-top: auto;
margin-bottom: 10px;
width: 60vw;
height: 20vh;


}

.modalContainer{
display: flex;
flex-direction: row;
flex-wrap: wrap;
/* justify-content: space-between; */
justify-content: center;
flex-grow: 1;
align-items: center;
overflow-y: auto;

}

.upgradeBox{
background-color: blue;
display: flex;
width:96px;
height: 96px;
margin: 5px;




}
