/*Main CSS*/
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

body, .map {
    height: 100vh;
    width: 100vw;
    background-color: rgb(34, 37, 42);
    overflow:hidden;
    z-index: 0;
}

.star {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: rgb(253, 253, 253);
    box-shadow: 0px 0px 20px 5px rgba(253, 253, 253, 0.8);
    transform: translate(50px, 50px);
    z-index: 5;
}
.playerDimensions{
  width:110px;
  height:128px;


}









.player, .ship, .starSet, .sprite, .gameMap{
 position: absolute;
 top: 0px ;
 left:  0px ;



}

.playerUI{
 position:absolute;
 top: 0px;
 left: 0px;
 z-index: 100;


}

.healthBar{
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.5);
  min-width: 75px ;
  min-height:25px ;
  background-color: rgba(127, 127, 127, 0.5);
}

.playerHealthBar{
height: 6vh;
width: 20vw;
position: relative;
margin: 15px;

}

.healthSlider{
position:absolute;
height: 100%;
width: 100%;
top: 0px;
left: 0px;
background-color: rgba(230, 0, 0, 0.8)
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding-bottom: 15px;
}

.homeButton {
  color: #cfcfcf;
}



.title{
  color: #fff;
  margin: 30px auto;
  width: fit-content;
  font-size: 56pt;
}



.button{
 background-color:rgb(230, 0, 0);
 border-style: solid;
 border-color:#ccc;
 border-width: 2px;
 border-radius: 300px;
 padding: 25px;
 margin: 60px auto;
 position: relative;
 width:150px;
 height:150px;
 display:flex;
 align-items:center;
 justify-content: center;
 user-select:none;
}
.button:active{
 box-shadow: inset 0px 0px 15px #ccc;

}


.buttonText{
color: #fff;
font-size: 28px;
flex:1;
text-align: center;

}

.deathScreen{
  position:absolute;
  top: 0px;
  left:0px;
  height: 100vh;
  width: 100vw;
  background-color:black;
  display:none;
}
.deathText{
  color:#fff;
  font-size:60px;
  width:fit-content;
  margin: auto auto;
}


.laser{
  width: 20px;
  height: 10px;

}

.sprite{
  z-index: 10;



}
